<!--
File Name:contact.ejs
Author: Ece Irem Burgaz
Student ID:301162609
Date: 2021-10-01
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>



<main class="container">
    <div class="jumbotron">
      <div style="width: 100%; overflow: hidden;">
        <div class="vertical-center">
          <div class="left" style=" text-align: center;">
            <div >
              <h1 class="display-4" style="font-size: 30px; text-align:center"><i class="fas fa-lg fa-mobile-alt"></i>&nbsp;&nbsp;<b>Welcome to the <%= title %> Page! </b></h1>
                <br>
                <h3> Contact me! </h3>
                
                <p>Email: eburgaz@my.centennialcollege.ca</p>
        <form>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@email.com">
            </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="987-654-3210" aria-label="Phone number">
                </div>
            </div>
    <br>
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write your message in this area!"></textarea>
            </div>
            <button type="submit" href="/" class="btn btn-primary">Submit</button>
        </form>
            </div>
        </div>   
      </div>
    </div>
</main>
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>