<!--
File Name:index.ejs
Author: Ece Irem Burgaz
Student ID:301162609
Date: 2021-10-01
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
      <div style="width: 100%; overflow: hidden;">
        <div class="vertical-center">
          <div style=" text-align: center;">
            <div>
              <h1 class="display-4" style="font-size: 30px; text-align:center"><i class="far fa-grin-stars"></i>&nbsp;&nbsp;<b>Welcome to the <%= title %> Page! </b></h1>
              <br>
                <p> My name is Ece Irem Burgaz. Welcome to my express portfolio website. <br> 
                You can start to explore my life. Thank you so much for visiting my site.  </p>
              <br>
                <p> “Good friends, good books, and a sleepy conscience: this is the ideal life.” </p>
                <p style="text-align:center;"> * – Mark Twain - *</p>
                <div style="display: flex;">
                <a href="\about"><button type="button" class="btn btn-primary btn-sm">About Me!</button></a>
                <p> &nbsp;&nbsp;   Click the button to view my about page!</p><br><br>
                </div>
                <div style="display: flex;">
                <a href="\contact"><button type="button" class="btn btn-primary btn-sm">Contact Me!</button></a>
                <p> &nbsp;&nbsp;  Click the button to view my contact page!</p>
                </div>
                <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>








