<!--
File Name:projects.ejs
Author: Ece Irem Burgaz
Student ID:301162609
Date: 2021-10-01
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
          <div class="left" style=" text-align: center;">
              <h1 class="margin-top" style="font-size: 30px; text-align:center"><i class="fas fa-lg fa-project-diagram"></i>&nbsp;&nbsp;Welcome to the <%= title %> Page! </h1>
              <br>
           </div>
              
              <p><b>Music Player:</b><br></p>
              <p>For the Programming 2, I made a Music Player. This project handles creating, adding and deleting music lists.</p>
          <div>
          <img src="\Assests\images\musicplayer.jpg" alt="player" height="200"  >
          </div>
          <br>
          <p><b>Meal Kit Delivery:</b><br></p>
              <p>For the Programming 2, I made a Meal Kit Delivery App. This application helps you to order according to your <br>eating habits by registering the weekly ready meals lists.</p>
            <div >
          <img src="\Assests\images\mealkit.jpg" alt="meal" height="200"  >
          </div>
          <br>
          <p><b>BMR Calculator Website:</b><br></p>
              <p>For the Client-Side Web Development, I made a BMR Calculator. This website calculates the basal metabolic rate according<br> to the information provided by the person.</p>
            <div >
          <img class="margin-bottom" src="\Assests\images\bmr.jpg" alt="bmr" height="200"  >
          </div>
        
        
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>