<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
      <div style="width: 100%; overflow: hidden;">
        <div class="vertical-center">
          <div class="left" style=" text-align: center;">
            <div >
              <h1 class="display-4" style="font-size: 30px; text-align:center"><i class="fas fa-cogs"></i>&nbsp;&nbsp;<b>Welcome to the <%= title %> Page! </b></h1>
              <br>
              <ul> 
              <li> C# programming. 
              <li> Java programming.
              <li> ExpressJS and NodeJS.
              <li> Adobe Photoshop and Illustrator.
              <li> 3D Max.
              <ul>
              <div >
          <img src="\Assests\images\services.jpg" alt="services" height="200" class="center" >
          </div>
            </div>
        </div>
      </div>
      
    </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>